* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*----------------------------------------------
----------------- STYLING HEADER----------------
------------------------------------------------*/

header {
    background-color: rgb(98, 98, 194);
    padding: 0.9375rem;
    position: relative;
}

nav,
.nav-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 5.625rem;
}

.nav-logo {
    font-size: 2.1875rem;
    color: #fff;
}

.nav-ul-link li {
    display: inline-block;
    margin: 0 2.5rem;
    font-size: 1.25rem;
    list-style: none;
}

.nav-ul-link li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: 200ms ease-in-out;
}

.nav-ul-link li a:hover {
    padding: 1.875rem;
    background-color: #fff;
    color: blue;
}

.btn-signin {
    padding: 0.625rem 1.5625rem;
    font-size: 1.125rem;
    background-color: rgb(107, 241, 241);
    border: 1px solid #fff;
    border-radius: 0.625rem;
    outline: none;
    text-transform: uppercase;
    color: #fff;
    transition: 200ms ease-in-out;
}

.btn-signin:hover {
    cursor: pointer;
    background-color: rgb(57, 57, 241);
}


/*----------------------------------------------
----------------- STYLING BACKGROUND-IMAGE----------------
------------------------------------------------*/

.bg-image {
    background-image: linear-gradient( rgba(0, 0, 0, 0.168), rgba(0, 0, 0, 0.168)), url(./images/imageslide2.jpg);
    height: 40rem;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
}

.header-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-info h1 {
    color: gray;
    background-color: black;
    padding: 10px 5px;
    border-radius: 5px;
}

.header-info h1,
p {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    word-spacing: 2px;
}

.header-info p {
    color: blue;
    line-height: 1.5em;
    background-color: #fff;
}

.btn-register {
    padding: 0.9375rem 1.5625rem;
    font-size: 1.25rem;
    background-color: rgb(182, 158, 25);
    color: #fff;
    text-transform: uppercase;
    border: 1px solid rgb(182, 158, 25);
    border-radius: 0.75rem;
    display: block;
    margin: 0.625rem auto;
    transition: 200ms ease-in;
}

.btn-register:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    letter-spacing: 2px;
    margin-bottom: 0.125rem;
}


/* ----------------------------------------------------
------------------styling the section footer -----------
--------------------------------------------------------*/

.learning-footer {
    background-color: rgb(2, 2, 5);
    padding: 40px;
}

.footer-icon {
    text-align: center;
}

.footer-icon i {
    display: inline-block;
    margin: 0.3125rem auto;
    color: #fff;
    width: 5%;
    font-size: 1.4375rem;
}

.learning-footer p {
    text-align: center;
    color: #fff;
}